body {
  padding: 0;
  margin: 0;
  font-weight: 200;
  font-family: monospace;
  background-color: #2c3e50;
  color: #ffffff;
}

.default {
  font-family: monospace;
  background-color: #2c3e50;
  color: #ffffff;
}

input {
  background-color: transparent;
  z-index: 1;
  font-size: 40px;
  outline: inherit;
}

.default button {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.default button:hover{
  background-color: #ffffff;
  color: #000000;
}

.default input, select, textarea{
  color: #ffffff;
  outline-color: #ffffff;
}

.moma {
  font-family: sans-serif;;
  background-color: #ffffff;
  color: #000000;
}

.moma button {
  border: 2px solid #000000;
}

.moma input, select, textarea{
  color: #000000;
  outline-color: #000000;
}

.retro {
  font-family: monospace;
  background-color: #000000;
  color: lime;
}

.retro button {
  border: 2px solid lime;
  color: lime;
}

.retro button:hover{
  background-color: lime;
  color: #000000;
}

.retro input, select, textarea{
  color: lime;
  outline-color: lime;
}

.tron {
  font-family: monospace;
  background-color: #000000;
  color: #18CAE6;
}

.tron button {
  border: 2px solid #18CAE6;
  color: #18CAE6;
}

.tron button:hover{
  background-color: #18CAE6;
  color: #000000;
}

.tron input, select, textarea{
  color: #18CAE6;
  outline-color: #18CAE6;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.current-score {
  left: 20px;
}

.top-score {
  right: 20px;
}

.score {
  display: block;
  position: absolute;
  top: 15px;
  z-index: 1;
  font-size: 20px;
}

.local {
  top: 40px
}

.controls {
  display: block;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 110%;
  text-align: center;
  line-height: 1.6;
}

.endgame{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  z-index: 1;
  text-align: center;
}

button {
  background-color: transparent;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  outline: 0;
  z-index: 1;
}


.submit {
  display: none;
}

.yourScore {
  text-decoration: underline;
}

@-webkit-keyframes fade-out {
0% { opacity: 1;}
85% {opacity: 1;}
100% {opacity: 0;}
}

.highScore {
  background-color: transparent;
  z-index: 1;
}

.fade-out {
  -webkit-animation: fade-out .5s ease-in;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay:15s;
  opacity: 1;
}

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  button{
    font-size: 18px;
  }
  .score {
    font-size: 15px;
  }
  .controls {
    font-size: 12px;
  }
  .endgame h2 {
    font-size: 18px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  button{
    font-size: 14px;
  }
  .score {
    font-size: 12px;
  }
  .controls {
    font-size: 8px;
  }
  .endgame h2 {
    font-size: 15px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  button{
    font-size: 10px;
  }
  .score {
    font-size: 8px;
  }
  .controls {
    font-size: 7px;
  }
  .endgame h2 {
    font-size: 15px;
  }
}
